<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>{{title}}</ion-title>
        <ion-buttons right>
            <button ion-button icon-only color="royal">
                    <ion-icon></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
    <ion-content>
        <ion-refresher (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="松开刷新"
                refreshingSpinner="circles"
                refreshingText="正在刷新···">
            </ion-refresher-content>
         </ion-refresher>
        <ion-list>
            <ion-item>
              <ion-label>发票状态:</ion-label>
              <ion-select interface="popover" [(ngModel)]="state">
                  <ion-option value="all">全部</ion-option>
                  <ion-option value="0">待开票</ion-option>
                  <ion-option value="1">已开票</ion-option>
                  <ion-option value="2">已确认</ion-option>
                  <ion-option value="3">待重开</ion-option>
                  <ion-option value="4">已快递</ion-option>
                  <ion-option value="5">已签收</ion-option>
                  <ion-option value="6">待作废</ion-option>
                  <ion-option value="7">已作废</ion-option>
              </ion-select>
             </ion-item> 
             <ion-item>
                <input type="text" [(ngModel)]="params.value" style="width: 80%;" placeholder="关键字">
                <button ion-button style="width: 20%;margin-top:-5px;font-size:1em;" (click)="initData()">搜索</button>
             </ion-item>
        </ion-list>

        <ion-list *ngFor="let invoice of invoiceList">
            <ion-item  (click)="look(invoice.id)">
                <div class="row">
                    <div class="col col-90">
                    <h2><b>{{invoice.name}}</b></h2>
                    <p>税号：{{invoice.taxNum}}</p>
                    <p>发票号码：{{invoice.invoiceNum}}</p>
                    <p>最后操作时间：{{invoice.alterDate}}</p>
                    <p>票面金额：{{invoice.totalAmount}}</p>
                    <p>税额：{{invoice.totalTaxAmount}}</p>
                    <p style="color: red;">状态：{{invoice.state}}</p>
                    </div>
                    <div class="col col-10 col-center">
                    <i class="icon ion-chevron-right rem-5" ></i>
                    </div>
                </div>
            </ion-item>
            <ion-item *ngIf="invoiceList.length == 0">
                <h2>没有找到结果！</h2>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="正在加载···">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-content>
    