<ion-header color="primary">
    <ion-navbar color="primary">
        <ion-toolbar>
            <ion-title text-center>{{title}}</ion-title>
            <ion-buttons end>
                <button ion-button icon-only color="royal" (click)="openHwCamera();">
                        <ion-icon ios="ios-camera" large md="md-camera"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
</ion-header>
    <ion-content>
      <ion-list>
          <ion-item *ngIf="uploadHwImgSrcs.length == 0" text-center>
              <span class="rem-3">拍摄或从图库中选择图片！</span>
          </ion-item>
          
          <ion-list *ngFor="let img of uploadHwImgSrcs;let idx=index">
              <ion-item (click)="delUploadHwImgSrcs(idx);">
                  <img class="full-image" src="{{img}}">
              </ion-item>
          </ion-list>
          <ion-item text-center>
              <button  ion-button large style="width: 58%;" (click)="selectHwImg();">
                从图库中选择
              </button>
              <button  color="danger" large ion-button style="width: 38%;"  (click)="clearHwImg();">
                清空
              </button>
              <button  ion-button block large  (click)="subHwImg();">
                确定
              </button>
          </ion-item>
          
      </ion-list>
    </ion-content>
