/* index.html */
html{font-size:62.5%;}      /* font-size 62.5% = 10px =1rem */
body{font-size:100%;}       /* font-size 100% = 10px = 1rem */
.rem-0{font-size:1rem;}
.rem-1{font-size:1.2rem;}
.rem-2{font-size:1.4rem;}
.rem-3{font-size:1.6rem;}
.rem-4{font-size:1.8rem;}
.rem-5{font-size:2rem;}
.rem-6{font-size:2.2rem;}
.rem-7{font-size:2.4rem;}
.rem-8{font-size:2.6rem;}
.rem-9{font-size:2.8rem;}
.rem-10{font-size:3rem;}

.mainColor{
    color: #11c1f3;
}

.popup-body {
    overflow:auto;
}

.myItem .item-content {
    padding: 10px;
}

.slider-pager{
    bottom: 0px;
}

.background, .background .pane{
     background-color: #F0F0F0;
 }

.item{
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    -o-user-select: text !important;
    user-select: text !important;
}
button{
    font-size: 1em;
}

input{
    border:none;
}

/**
 * This CSS uses adjacent selectors instead of general sibling (~) selectors
 * for ion radio that are broken in iOS 9 UIWebView.
 *
 * To apply the patch, include this CSS after your ionic.css include.
 */

.item-radio input:checked + .radio-content .item-content {
  /* style the item content when its checked */
  background: #f7f7f7;

}

.item-radio input:checked + .radio-content .radio-icon {
  /* show the checkmark icon when its checked */
  visibility: visible;

}
